<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amino</title>
</head>
<body>
    <div class='header'>
        <div>
        <input type="text" id='redirect' placeholder="input shinden url">
        <button id='redirect-button'>redirect</button>
        </div>
        <div class="error" id='redirect-error'></div>
    </div>

    {% if include_series_template %}
        {% include 'series.html' %}
    {% endif %}


    <script>
        let base_shinden_url = 'https://shinden.pl/'

        document.getElementById('redirect-button').addEventListener('click', () => {
            redirect_url = document.getElementById('redirect').value;
    
            if(redirect_url.startsWith(base_shinden_url)){
                root_url = window.location.href.match(/^.*\//);

                new_url = root_url + redirect_url.slice(base_shinden_url.length);

                window.location.href = new_url;
            }
            else{
                document.getElementById('redirect-error').innerText = 'Invalid url';
            }
        });

    </script>
</body>
</html>