<div class="flex-row">
    <div class="left-column">
        <h1 class="title">{{ series_info['title'] }}</h1>
        <div class="flex-row">
            <div class="cover-image">
                <img src="{{ series_info['cover_img'] }}" alt="">
            </div>
            <div>
                <div class="description">{{ series_info['desc'] }}</div>
                <div class="flex-row flex-wrap genres">
                    {% for tag in series_info['genres'] %}
                        <div class="tag">{{ tag }}</div>
                    {% endfor %}
                </div>
                <div class="flex-row">
                    <div class="flex-col">
                        <div class="">Rating: {{ series_info['rating'] }}</div>
                        <div class="">Emission date: {{ series_info['emission_date'] }}</div>
                        <div class="">Type: {{ series_info['anime_type'] }}</div>
                    </div>
                    <div class="flex-col right-series-col">
                        <div class="">{{ series_info['votes'] }} votes</div>
                        <div class="">Status: {{ series_info['status'] }}</div>
                        <div class="">Episodes: {{ series_info['episodes'] }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-column center-div">
        <table>
            <thead>
                <tr>
                    <th>Ep.</th>
                    <th>Title</th>
                    <th>Online</th>
                    <th>Langs</th>
                    <th>Release date</th>
                </tr>
            </thead>
            <tbody>
                {% for episode in episode_list %}
                    <tr>
                        <td>{{ episode['episode'] }}</td>
                        <td>{{ episode['title'] }}</td>
                        <td class="center-text {{ episode['online'] }}"></td>
                        <td>
                            <div class="center-div flex-row">
                                {% for lang in episode['langs'] %}
                                    <div class="{{ lang }}"></div>
                                {% endfor %}
                            </div>
                        </td>
                        <td class="center-text">{{ episode['release_date'] }}</td>
                        <td><a href="{{ episode['url'] }}"><button>Show</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
        </table>
    </div>
</div>