{% if series_info %}
<div class='series-info'>
    series info
</div>
{% endif %}
<div class='episode-list'>
    <table>
        <thead>
        <tr>
            {% for key in episode_list[0].keys() if key != 'url' %}
            <th>
                {{ key }}
            </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for episode in episode_list %}
        <tr>
            {% for key, value in episode.items() if key != 'url' %}
            <td>
                {{ value }}
            </td>
            {% endfor %}
            <td>
                <a href={{ episode['url'] }}>
                <button>
                    Show
                </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
    </table>


</div>
<div class='player-list'>
    {% if player_list %}
    <div>
        Episode {{ player_list[0]['episode_number'] }}
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Player</th>
                <th>Subs authors</th>
                <th>Resolution</th>
                <th>Audio</th>
                <th>Subs</th>
                <th>Added</th>
                <th>Watch</th>
            </tr>
            </thead>
            <tbody>
            {% for player in player_list %}
            <tr>
                <td>{{ player['player'] }}</td>
                <td>
                    {% if player['subs-fav-icon-url'] %}
                    <img src="{{ player['subs-fav-icon-url'] }}" height="20" width="20" alt="">
                    {% endif %}
                    {{ player['subs-authors'] }}
                </td>
                <td>
                    {{ player['max_res'] }}
                </td>
                <td>
                    {{ player['lang_audio'] }}
                </td>
                <td>
                    {{ player['lang_subs'] }}
                </td>
                <td>
                    {{ player['added'] }}
                </td>
                <td>
                    <button id='{{ player['online_id'] }}' onclick='request_player(this.id)'>Show</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<div id='iframe'>
</div>

<script>
    function show_player(url){
        document.getElementById('iframe').innerHTML = `<iframe allowfullscreen="" height="431" src="${url}" width="765"></iframe>`
    }

    function request_player(player_id) {
        get_url = location.origin + '/player/' + player_id;

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState === 4 && xmlHttp.status === 200)
                show_player(xmlHttp.responseText);
        }
        xmlHttp.open("GET", get_url, true); // true for asynchronous
        xmlHttp.send(null);

        // var xmlHttp = new XMLHttpRequest();
        // xmlHttp.open( "GET", get_url, false ); // false for synchronous request
        // xmlHttp.send( null );
        // console.log(xmlHttp.responseText);
        // test = await fetch(fetch_url);

        // console.log(fetch_url)
    }
</script>